* {
  box-sizing: border-box;
}

body {
  background-color:floralwhite;
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #41B3A3;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  text-align: center;
  font-size: 50px;
}

h2, h4 {
  color: #41B3A3;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  text-align: center;
  font-size: 18px;
  margin:10px;
}

.description {
  color: #e27d60;
}

.headings {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #e27d60;
  background-color: #85dcb8;
  border: #41B3A3;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  text-align: center;
  justify-content: center;
  width:max-content;
  margin: 0 auto;
}

p {
  color: #e27d60;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 10px;
}

ol {
  list-style: none;
  counter-reset: mycounter;
  padding-left: 10 px;
}

ol li {
  color: #e27d60;
  font-family: Arial, Helvetica, sans-serif;
  counter-increment: mycounter;
  padding-left: 10 px;
}

ol li::before {
  content: counter(mycounter);
  color: #41B3A3;
  font-weight: bold;
  padding-left: 10 px;
}

li span{
  position: relative;
  left: 10px;
}